<div class="flex h-screen w-screen">
  <!-- Sección izquierda con imagen y texto promocional -->
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <img src="assets/icons/logo-arcodavella.png" alt="Imagen de cooperativa de viviendas" />
      <h1 class="text-4xl font-bold">"Tu hogar, nuestro compromiso"</h1>
      <p class="text-xs font-light">
        Bienvenido a <b>Arco da Vella</b>, tu cooperativa de viviendas donde la comunidad se une para facilitar el
        acceso a un hogar asequible y de calidad. Únete a nosotros y descubre cómo el modelo cooperativo puede ofrecerte
        una vivienda digna y sostenible.
        <span class="cursor-pointer font-medium text-yellow-400">Conoce nuestras iniciativas</span> y proyectos que
        buscan mejorar la calidad de vida de nuestros socios y contribuir al desarrollo de viviendas accesibles para
        todos.
      </p>
    </div>
  </div>

  <!-- Sección derecha con el formulario de login -->
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <!-- logo -->
      <div class="flex items-center justify-center">
        <a class="rounded bg-transparent p-2">
          <img src="assets/logos/logo-arcodavella.png" class="h-10 w-10 rounded-md" alt="Arco da Vella" />
        </a>
        <b class="text-md pl-3 font-bold text-foreground">Arco da Vella</b>
      </div>

      <!-- Contenido de la ruta (Formulario de Inicio de Sesión) -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
